.site-header {
    border-bottom: 1px solid $grey-color-light;
    min-height: 140px;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-size: 26px;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}
