<nav id="nav" class="hidden-print hidden-xs hidden-sm" data-spy="affix">
  <ul class="nav">
    <li>
      <a href="#getting-started">Getting started</a>
      <ul class="nav">
        <li><a href="#upgrading-from-v1">Upgrading from v1</a></li>
        <li><a href="#express-4-app">Express 4 app</a></li>
        <li><a href="#usage-with-requesthttpswwwnpmjscompackagerequest">Request</a></li>
      </ul>
    </li>
    <li>
      <a href="#querying">Querying</a>
      <ul class="nav">
        <li><a href="#sort">Sort</a></li>
        <li><a href="#skip">Skip</a></li>
        <li><a href="#limit">Limit</a></li>
        <li><a href="#query">Query</a></li>
        <li><a href="#populate">Populate</a></li>
        <li><a href="#select">Select</a></li>
        <li><a href="#distinct">Distinct</a></li>
      </ul>
    </li>
    <li>
      <a href="#reference">Reference</a>
      <ul class="nav">
        <li><a href="#serve">serve</a></li>
        <li><a href="#defaults">defaults</a></li>
      </ul>
    </li>
    <li>
      <a href="https://github.com/florianholzapfel/express-restify-mongoose/graphs/contributors" target="github">Contributors</a>
    </li>
    <li>
      <a href="https://github.com/florianholzapfel/express-restify-mongoose/blob/master/LICENSE" target="github">License (MIT)</a>
    </li>
  </ul>
</nav>
