<nav id="nav" class="hidden-print hidden-xs hidden-sm" data-spy="affix">
  <ul class="nav">
    <li>
      <a href="#getting-started">Getting started</a>
      <ul class="nav">
        <li><a href="#express4">Express 4 app</a></li>
        <li><a href="#request">Request</a></li>
      </ul>
    </li>
    <li>
      <a href="#query">Query</a>
      <ul class="nav">
        <li><a href="#query-sort">Sort</a></li>
        <li><a href="#query-skip">Skip</a></li>
        <li><a href="#query-limit">Limit</a></li>
        <li><a href="#query-where">Query</a></li>
        <li><a href="#query-populate">Populate</a></li>
        <li><a href="#query-select">Select</a></li>
        <li><a href="#query-distinct">Distinct</a></li>
      </ul>
    </li>
    <li>
      <a href="#reference">Reference</a>
      <ul class="nav">
        <li><a href="#serve">serve</a></li>
        <li><a href="#defaults">defaults</a></li>
      </ul>
    </li>
    <li>
      <a href="https://github.com/florianholzapfel/express-restify-mongoose/graphs/contributors" target="github">Contributors</a>
    </li>
    <li>
      <a href="https://github.com/florianholzapfel/express-restify-mongoose/blob/master/LICENSE" target="github">License (MIT)</a>
    </li>
  </ul>
</nav>
