<footer class="container-fluid site-footer">
  <div class="row">
    <div class="col-md-offset-1 col-md-7">
      <ul class="list-footer">
        <li><a href="https://github.com/{{ site.github_username }}/{{ site.title }}">Contribute on GitHub</a></li>
        <li>v1.1.2</li>
        <li><a href="{{ site.baseurl }}v2/">v2.x docs</a></li>
        <li><a href="{{ site.baseurl }}v3/">v3.x docs</a></li>
        <li><a href="{{ site.baseurl }}">v4.x docs</a></li>
      </ul>
    </div>
  </div>
</footer>
