# This workflow will do a clean install of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Node.js CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [14.x, 16.x, 18.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
      - name: git checkout
        uses: actions/checkout
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'npm'
      - name: Start MongoDB
        uses: supercharge/mongodb-github-action@1.6.0
      - run: npm i mongoose@6.x
      - run: npm run lint
      - run: npm run test ci
      - run: npm install coveralls@~2.11.0
      - run: npm run report-coverage
